<center>
<h4>Universidad Nacional de Córdoba - Facultad de Matemática, Astronomía, Física y Computación</h4>
<h3>Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones</h3>
</center>

# ¿Cómo leer datos desde pandas?

En esta primera notebook, aprendemos cómo cargar un conjunto de datos utilizando pandas y cómo ver su contenido.

In [1]:
import io
import pandas
import seaborn

print(seaborn.__version__)

0.10.1

In [2]:
df = pandas.read_csv('../datos/Dataset AyVD 2020 (respuestas) - Respuestas de formulario 1.csv')

Con esta operación, hemos creado un DataFrame de pandas en base al archivo de respuestas. Un DataFrame no es más que una tabla sobre la cual podemos aplicar un montón de operaciones similares a las de Excel o a las SQL. En esta notebook no pretendemos hacer un tutorial de pandas, el Internet está lleno de ellos, pero sí iremos explicando cómo implementar determinadas operaciones necesarias para el análisis de este conjunto de datos.

Veamos qué tiene adentro el DataFrame `df`.

In [3]:
df

,Marca temporal,¿Con qué género te identificás?,¿Qué edad tenés?,¿De qué signo sos?,¿A qué te dedicás?,¿Cuánto creés que gana por mes un programador (con dos o menos años de experiencia) en la industria argentina?,¿Cuánto creés que gana por mes un programador (con tres o más años de experiencia) en la industria argentina?
0,31/03/2020 17:10:01,Mujer,27,Tauro,Programadora,40000,80000

In [7]:
df.columns

Index(['Marca temporal', '¿Con qué género te identificás?', '¿Qué edad tenés?',
       '¿De qué signo sos?', '¿A qué te dedicás?',
       '¿Cuánto creés que gana por mes un programador (con dos o menos años de experiencia) en la industria argentina?',
       '¿Cuánto creés que gana por mes un programador (con tres o más años de experiencia) en la industria argentina?'],
      dtype='object')

In [8]:
len(df)

1

In [9]:
df['Marca temporal']

0    31/03/2020 17:10:01
Name: Marca temporal, dtype: object

## Variables y columnas

Para trabajar más cómodamente, renombraremos las columnas de DataFrame. Tengan cuidado de que el orden de los nombres nuevos se corresponda con el contenido de cada columna.

In [ ]:
df.columns = ['timestamp', 'gender', 'age', 'zodiac_sign', 'profession', 'junior_programmer_salary', 'senior_programmer_salary']

In [11]:
df

             timestamp  ... senior_programmer_salary
0  31/03/2020 17:10:01  ...                    80000

[1 rows x 7 columns]

In [12]:
df.timestamp

0    31/03/2020 17:10:01
Name: timestamp, dtype: object

In [13]:
df['age']

0    27
Name: age, dtype: int64